#competences {
    margin-top: 150px;
    padding: 120px 0 0 240px;
    @media screen and (max-width: 992px) {
        margin: 0 auto;
        padding: 100px 0;
    }
    .wrapper-competences {
        .flex-container {
            display: flex;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
            @media screen and (max-width: 1200px) {
                flex-direction: column;
                width: 100%;
            }
            .left-container {
                width: 50%;
                @media screen and (max-width: 1200px){
                    width: 80%;
                    margin: 0 auto 50px;
                }
                h2 {
                    color: $cyan;
                    font-size: calc(20px + 2vw);
                }
                p {
                    color: #fff;
                    margin-top: 20px;
                }
                margin-right: 20px;
            }
            .right-container {
                margin-left: 20px;
                width: 60%;
                margin: 0 auto;
                @media screen and (max-width: 1200px){
                    width: 80%;
                }
                .bars-container {
                    .bar-container {
                        color: #fff;
                        font-weight: 700;
                        margin-bottom: 30px;
                        .bg-bar {
                            margin-top: 10px;
                            background: $black3;
                            position: relative;
                            width: 100%;
                            height: 5px;
                            z-index: 0;
                            border-radius: 5px;
                            .color-bar {
                                border-radius: 5px;
                                position: absolute;
                                height: 5px;
                                top: 0;
                                left: 0;
                                z-index: 2;
                            }
                            .blue {
                                width: 70%;    
                                background: $cyan;
                            }
                            .red {
                                width: 80%;   
                                background: $red;
                            }
                            .pink {
                                width: 90%;   
                                background: $pink;
                            }
                        }
                    }
                }
                .exp-container {
                    display: flex;
                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                    }
                    .bloc {
                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                        background: $grayBackground2;
                        height: 250px;
                        width: 50%;
                        display: flex;
                        h3 {
                            color: #fff;
                            margin-bottom: 15px;
                        }
                        p {
                            color: $grayText;
                            &:first-of-type {
                                font-weight: 700;
                            }
                            &:last-child {
                                margin-top: 10px;
                                font-size: 14px;
                            }
                        }
                    }
                    .container {
                        margin: auto;
                        width: 85%;
                    }
                    .bloc-left {
                        margin-right: 15px;
                        @media screen and (max-width: 768px) {
                            margin: 10px 0 30px;
                        }
                    }
                    .bloc-right {
                        margin-left: 15px;
                        @media screen and (max-width: 768px) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}