#projets {
    .overlayModal {
        position: fixed;
        inset: 0;
        display: none;
        @include background-opacity(#000, 0.5);
        z-index: 20;
    }
    margin-top: 150px;
    padding: 0 0 0 220px;
    @media screen and (max-width: 992px) {
        margin: 0 auto;
        padding: 0;
    }
    .wrapper-projets {
        .flex-projets {
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .modal {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                // display: none;
                opacity: 0;
                height: 100Vh;
                overflow-y: scroll;
                transition: 0.4s;
                @media screen and (max-width: 992px) {
                    z-index: 50;
                }
                @media screen and (max-width: 500px){
                    height: auto;
                }
                img {
                    height: 300vh;
                    @media screen and (max-width: 992px) {
                        height: 150vh;
                    }
                    display: none;
                    @media screen and (max-width: 500px){
                        width: 300px;
                        height: auto;
                    }
                }
                z-index: 30;
            }
            .container-projet {
                width: calc(100% / 3);
                @media screen and (max-width: 1200px){
                    width: 50%;
                    height: calc(100% / 3);
                }
                position: relative;
                cursor: pointer;
                &:hover a img {
                    opacity: 0.4;
                }
                @media screen and (min-width: 992px) {  
                    &:hover p {
                        // display: block;
                        opacity: 1;
                    }
                }
                & > a > * {
                    transition: 0.4s;
                }
                a {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: left;
                        opacity: 0.6;
                    }
                }
                p {
                    opacity: 0;
                    position: absolute;
                    color: #000;
                    @include background-opacity($cyan, 0.8);
                    border-radius: 50%;
                    padding: 50px;
                    width: 60%;
                    text-align: center;
                    line-height: 140%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    letter-spacing: 2px;
                }
            }
        }
    }
}