@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$black1: #121212;
$black2: #181818;
$black3: #373737;
$grayText: #8F8F8F;
$grayBackground1: #222222;
$grayBackground2: #2D2D2D;
$cyan: #08FDD8;
$red: #FD2155;
$pink: #D26CD5;