main {
    background: $black2;
    font-family: 'Montserrat', sans-serif;
    height: 3300px;
    display: flex;
    @media screen and (max-width: 992px){
        display: block;
    }
    .sideBar {
        background: $black1;
        width: 220px;
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        position: fixed;
        height: 100vh;
        @media screen and (max-width: 992px) {
            display: none;
        }
        .presentation {
            text-align: center;
            .logo {
                padding: 40px 0 20px;
                font-size: 50px;
                font-weight: bold;
                a {
                    span:first-of-type {
                        color: $red;
                    }
                    span:last-child {
                        color: $cyan;
                    }
                    font-family: sans-serif;
                    letter-spacing: -6px;
                    // text-shadow: -4px 0px 0 $red;
                }
            }
            h1 {
                width: 75%;
                margin: 0 auto;
                font-size: 35px;
                text-align: center;
            }
            .job {
                color: $grayText;
                margin: 15px 0 30px; 
            }
        }    
        ul {
            background: $black2;
            width: 100%;
            text-align: center;
            padding: 40px 0 0px;
            li {
                margin-bottom: 40px;
                a {
                    font-weight: 600;
                    color: $grayText;
                    font-size: 20px;
                    transition: 0.1s;
                    &:hover {
                        color: $cyan;
                    }
                }
            }
        }
    }
    .social-links {
        padding: 40px 0;
        i {
            font-size: 25px;
            padding: 0px 10px;
            color: $grayText;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
                color: $cyan;
            }
        }
    }
    .phone-nav {
        display: none;
        position: fixed;
        width: 100%;
        z-index: 40;
        @include background-opacity($black1, 0.5);
        @media screen and (max-width: 992px){
            display: flex;
            margin-bottom: 20px;
            .phone-nav-wrapper {
                position: relative;
                z-index: 25;
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
            }
            i {
                color: #fff;
                font-size: 30px;
                padding: 0px 15px;
            }
            .bars {
                padding: 40px 0;
                display: block;
                i {
                    
                }
            }
            .social-links {
                display: flex;
                justify-content: end;
            }
        }
        .overlay {
            display: flex;
            justify-content: center;
            transform: translateY(-110%);
            position: fixed;
            @include background-opacity($black1, 0.9);
            height: 80vh;
            width: 100%;
            z-index: 20;
            transition: 0.2s ease-out;
            &.flex {
                transform: translateY(0%);
                ul {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    a {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}